@import "tailwindcss";

:root {
  --background: #f17f2d;
  --foreground: #0b0b0b;
  --azul: #ADDBE2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
  font-family: 'Times New Roman', Times, serif;
}/* === FullCalendar v6 CSS === */
@import "@fullcalendar/common/main.css";
@import "@fullcalendar/timegrid/main.css";
@import "@fullcalendar/daygrid/main.css";
/* @import "@fullcalendar/list/main.css";  (si usas vista list) */

/* Tailwind (si procede) */

@tailwind utilities;

/* Alturas seguras para móvil */
html, body { height: 100%; }
.fc, .fc .fc-scroller-harness, .fc .fc-scroller { overflow: visible; }
